#ifndef	_CONFIG_H
#define	_CONFIG_H

#include	"pins.h"

#define	NUM_TEMP_SENSORS	1
#define	NUM_HEATERS	1
#define	NUM_AXES	5
#define	NUM_MOVES	8

#define	F_CPU	16000000

#define	TICK_TIME	2 MS

pin	temp_pins[NUM_TEMP_SENSORS];
pin	heater_pins[NUM_HEATERS];

struct {
	pin	step;
	pin	dir;
	pin	min;
	pin	max;
	pin	enable;
} axis_pins[NUM_AXES];

pin	power;

#endif	/* _CONFIG_H */
